"group/laptop": {
  "orientation": "inherit",
  "drawer": {
    "transition-duration": 500,
    "children-class": "battery",
    "transition-left-to-right": false
  },
  "modules": [
    "battery",
    "backlight",
    "custom/battery_limit",
    "custom/power_mode"
  ]
}
