layerrule {
  name = hyprflux-rofi-blur
  blur = on
  ignore_alpha = 0
  match:namespace = rofi
}

layerrule {
  name = hyprflux-notifications-blur
  blur = on
  ignore_alpha = 0
  match:namespace = notifications
}

layerrule {
  name = hyprflux-quickshell-overview-blur
  blur = on
  ignore_alpha = 0.5
  match:namespace = quickshell:overview
}
