exec-once = systemd-run --user --unit=fcitx-wechat-candidate-scale -E HYPRLAND_INSTANCE_SIGNATURE=$HYPRLAND_INSTANCE_SIGNATURE -E XDG_RUNTIME_DIR=$XDG_RUNTIME_DIR $UserScripts/FcitxWechatCandidateScale.sh --listener
