# Optional GPU Screen Recorder UI shortcuts.
bind = $mainMod ALT, G, exec, gsr-ui-cli toggle-show
bind = $mainMod ALT, R, exec, gsr-ui-cli toggle-record
bind = $mainMod ALT, Y, exec, gsr-ui-cli replay-save
